* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: rgb(245, 12, 12);
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #121212;
}
.card {
  background-color: aqua;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav {
  background-color: aqua;
  padding: 20px;
  margin: 5px;
}
